@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes spinhex {
    0% {
        transform: rotate(0deg);
    }

    30% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(90deg);
    }

    80% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
        filter: drop-shadow(0px 0px 2px #8bffd888);
    }

    100% {
        transform: translateY(-14px);
        filter: drop-shadow(0px 14px 4px #8bffd888);

    }
}

@keyframes glide {
    0% {
        opacity: 0;
        transform: translatex(-20%);
        filter: drop-shadow(40px 8px 3px #46d4ffff);
    }

    10% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    80% {
        opacity: 0;
        transform: translatex(20%);
        filter: drop-shadow(-60px 8px 3px #ffffff00);

    }

    100% {
        opacity: 0;
    }
}

@keyframes slide {
    0% {
        transform: translate(-8px, -10px);
    }

    1% {
        transform: translate(-8px, -10px);
        filter: drop-shadow(0px 0px 4px #ffffffff);
    }

    5% {
        transform: translate(-8px, -10px);
        filter: drop-shadow(0px 0px 10px #ffffff88);
    }

    25% {
        transform: translate(18px, 10px);
        filter: drop-shadow(0px 0px 10px #ffffff88);
    }

    26% {
        transform: translate(18px, 10px);
        filter: drop-shadow(0px 0px 4px #ffffffff);
    }

    30% {
        transform: translate(18px, 10px);
        filter: drop-shadow(0px 0px 10px #ffffff88);
    }

    50% {
        transform: translate(4px, 2px);
        filter: drop-shadow(0px 0px 10px #ffffff88);
    }

    51% {
        transform: translate(4px, 2px);
        filter: drop-shadow(0px 0px 4px #ffffffff);
    }

    55% {
        transform: translate(4px, 2px);
        filter: drop-shadow(0px 0px 10px #ffffff88);
    }

    75% {
        transform: translate(20px, -2px);
        filter: drop-shadow(0px 0px 10px #ffffff88);
    }

    76% {
        transform: translate(20px, -2px);
        filter: drop-shadow(0px 0px 4px #ffffffff);
    }

    80% {
        transform: translate(20px, -2px);
        filter: drop-shadow(0px 0px 10px #ffffff88);
    }

    100% {
        transform: translate(-8px, -10px);
        filter: drop-shadow(0px 0px 10px #ffffff88);
    }

}