@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

html {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.hero h1 {
    color: white;
}

.uk-offcanvas-bar {
    color: #dddddd;
    background-color: rgba(33, 36, 44, 0.9);
    backdrop-filter: grayscale(100%);
}

.uk-offcanvas-bar a {
    color: #dddddd;
}

.uk-nav-divider {
    border-top: 2px solid #414470;}

    .navbutton {
        position: fixed;
        top: 2rem;
        left: 2rem;
        z-index: 1;
        color: #2d323f;
        border: 2px solid #414470;
        background-color: transparent;
        border-width: 2px;
        box-shadow: 0px 0px 0px rgba(50, 42, 85, 0.9);
        transition: 0.2s cubic-bezier(1, 0, 0, 1);
    }
    
    .navbutton:hover {
        box-shadow: -5px 5px 0px #41447040, 3px -3px 0px #41447020;
        background-color: #414470;
        color: white;
    }

    .navbutton.dark {
        position: fixed;
        top: 2rem;
        left: 2rem;
        z-index: 1;
        color: white;
        border: 2px solid white;
        background-color: transparent;
        border-width: 2px;
        box-shadow: 0px 0px 0px rgba(50, 42, 85, 0.9);
        transition: 0.2s cubic-bezier(1, 0, 0, 1);
    }
    
    .navbutton.dark:hover {
        box-shadow: -5px 4px 0px #ffffff40, 4px -3px 0px #ffffff20;
        background-color: #414470;
        color: white;
    }