html,
body {
    font-family: 'Inter', sans-serif;
}

/* Landing hero */
#landing {
    color: white;
    background: rgb(105, 0, 136);
    background: linear-gradient(32deg, rgba(105, 0, 136, 1) 0%, rgba(218, 62, 0, 1) 100%);
}

#landing h1 {
    font-size: 3.5em;
    font-weight: lighter;
}

#landing h2 {
    font-size: 1.25em;
}

.scroll-down-icon {
    animation: scroll-down-icon 3s infinite;
    padding: 0.2em;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    transform: translate(-50%, 0px);
}

@keyframes scroll-down-icon {
    0% {
        transform: translate(-50%, -5px);
        opacity: 0;
        box-shadow: 0px 14px 0px #fff5;
    }

    45% {
        opacity: 1;
        transform: translate(-50%, 0px);
        box-shadow: 0px 0px 0px #fff5;

    }

    90% {
        opacity: 0;
        transform: translate(-50%, 5px);
        box-shadow: 0px -8px 0px #fff5;
    }
    91% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.navbar-item>svg {
    margin-right: 0.6em;
}

/* cards */
.card {
    border: 1.5px solid #bbb;
    transition: 0.2s;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.card.hover:hover {
    transform: translateY(-0.5em);
    box-shadow: 0 1em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
}

.card .title {
    font-size: 2em;
}

.card .icon {
    width: 3em;
    height: 3em;
}

/* Colours */

.text-purple {
    color: rgb(105, 0, 136);
}

.text-orange {
    color: rgb(218, 62, 0);
}

/* feature icon sizing */

.feature-icon {
    font-size: 5em;
}

.software-icon {
    font-size: 4em;

}

.title {
    font-size: 2.3em;
}

.description {
    font-size: 1.3em;
}

.subtitle {
    font-size: 1.6em;
}

.video {
    border-radius: 0.25rem;
    box-shadow: 0 0.2em 0.5em rgba(10,10,10,0.2);
}